
.ServiceListItemAdmin {
    min-height: 70px;
    margin-bottom: 32px !important;
    display: flex !important;
    align-items: center !important;
    padding-right: 40px !important;
}

.ServicesList {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ServiceListItem {
    display: block;
    font-size: 18px;
    transition: all .4s;
    padding: 16px 16px;
    margin: 0 -16px;
    position: relative;
    overflow: hidden;
    line-height: 1.3em;

    &__WrapperEditButton {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        right: 14px;
        z-index: 10;
    }

    &:hover {
        cursor: pointer;
    }

    &__Title {
        transition: all .4s;
    }

    &:hover {
        @media screen and ( min-width: 480px ) {
            padding-left: 66px;
        
            &::before {
                opacity: 1;
                left: 16px;
            }
        }

        &:after {
            width: 100%;
            opacity: 1;
            left: 0;
        }
    }

    &:before {
        content: '->';
        opacity: 0;
        transition: all .45s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -36px;
    }

    &:after {
        content: '';
        transition: all .5s;
        width: 0;
        height: 100%;
        position: absolute;
        left: 16px;
        top: 0;
        opacity: 0;
        background: rgba(81, 140, 255, 0.10);
    }

    @media screen and ( max-width: 1100px ) {
        font-size: 16px;
    }

    @media screen and ( max-width: 450px ) {
        font-size: 14px;
    }
}