@import '../../assets/styles/mixins.scss';

.Service {
    @include infoBlock;

    &__ContentContainer {
        flex-direction: column;
    }

    &__CloseButton {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}
