@import '../../assets/styles/mixins.scss';

.Post {
    @include listItem;

    position: relative;
    height: auto;

    &__ContentWrapper {
        display: flex;
    }

    &::after {
        content: '';
        display: block;            
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        opacity: .2;
        background-size: contain;
    }

    &--twitter {
        &::after {
            background-image: url(../../assets/img/icons/twitterx.svg);
        }
    }

    &--youtube {
        &::after {
            background-image: url(../../assets/img/icons/youtube.svg);
        }
    }
    
    &__Content {
        line-height: 1.5;

        a {
            @include contextLink;
        }
    }

    @media screen and ( max-width: 680px) {
        &__Content {
            font-size: 14px;
        }

        &__ContentWrapper {
            display: block;
        }

        &__ImageContainer {
            width: 100%;
            height: auto;
        }
    }

    @media screen and ( max-width: 420px) {
        &__Content {
            font-size: 12px;
        }
    }
}