@import '../../assets/styles/mixins.scss';

.Project {
    @include infoBlock;

    &__Link {
        &::before {
            content: '';
            width: 25px;
            height: 25px;
            display: inline-block;
            background: url(../../assets/img/icons/github.svg) no-repeat;
            background-size: contain;
            margin-bottom: -4px;
            margin-right: 10px;
        }

        &--Github {
            &::before {
                content: '';
                width: 25px;
                height: 25px;
                display: inline-block;
                background: url(../../assets/img/icons/github.svg) no-repeat;
                background-size: contain;
                margin-bottom: -4px;
                margin-right: 10px;
            }
        }

        &--Project {
            &::before {
                background: url(../../assets/img/icons/web.svg) no-repeat;
                background-size: contain;
            }
        }
    }
}
