@import '../../../assets/styles/mixins.scss';

.FileInput {
    width: 100%;
    background-color: #d2e8fe;
    display: flex;
    align-items: center;

    &__Avatar {
        position: relative;
        width: 100px;
        height: 100px;
        overflow: hidden;
        cursor: pointer;
        flex-shrink: 0;

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    &__Info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 20px 16px 20px 30px;

        &__Name {
            font-weight: 400;
            font-size: 16px;
            color: #000;
            font-family: 'Press Start 2P';
        }

        &__Description {
            font-weight: 400;
            font-size: 12px;
            color: #000;
            font-family: 'Press Start 2P';
        }

        &__Url {
            font-weight: 400;
            font-size: 10px;
            color: #008de4;
            font-family: 'Press Start 2P';
            word-break: break-all;
            max-width: 100%;
        }
    }

    @media screen and ( max-width: 960px ) {
        flex-direction: column;
        align-items: flex-start;

        &__Avatar {
            width: 150px;
            height: 150px;
        }

        &__Info {
            padding: 10px;
        }
    }
}
