@import '../../assets/styles/mixins.scss';

.Teammate {
    @include listItem;
    min-height: 200px;
    height: auto;
    transition: 0.5s background-color, 0.5s box-shadow;

    &:hover {
        cursor: pointer;
        transform: translate(-5px, -5px);
        box-shadow: 10px 8px teal, 
                    20px 16px rebeccapurple;

        &:has(.Teammate__SocialLink--Github:hover){
            background-color: rgb(13, 17, 23);
        }

        &:has(.Teammate__SocialLink--Discord:hover){
            background-color: rgba(114,137,218,.2);
        }

        &:has(.Teammate__SocialLink--Twitter:hover){
            background-color: #000000;
        }
    }

    &__Title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 10px;
    }

    &__Name {
        display: inline-block;
    }

    &__Gpg {
        font-size: 8px;
        margin-bottom: 12px;
        line-height: 120%;
        color: #94363C;
        display: inline-block;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &__Username {
        display: inline-block;
        font-size: 14px;
        color: #A7A7A7;
    }

    &__ContentContainer {
        flex-grow: 1;
        padding: 30px 44px;
    }

    &__Socials {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    &__SocialLink {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 10px;
        transform: scale(1);
        background-color: transparent;
        transition: .3s;
        width: 50px;
        height: 50px;
        background-position: center;

        &:hover {
            transform: scale(1.2);
            background-color: rgba(109, 124, 255, 0.07);
        }

        &:last-child {
            margin-right: 0;
        }
        
        &--Discord {
            background-image: url(../../assets/img/icons/discord.svg);
            background-size: 100%;
        }

        &--Github {
            background-image: url(../../assets/img/icons/github.svg);
            background-size: 88%;
        }

        &--Twitter {
            background-image: url(../../assets/img/icons/twitterx.svg);
            background-size: 88%;
        }

    }

    &__Discord, &__Github, &__Twitter {
        width: 50px;
        height: 50px;
        display: block;
    }

    &__Discord {
        background-image: url(../../assets/img/icons/discord.svg);
        background-size: contain;
    }

    &__Github {
        background-image: url(../../assets/img/icons/github.svg);
        background-size: contain;
    }

    &__Twitter {
        background-image: url(../../assets/img/icons/twitterx.svg);
        background-size: contain;
    }

    @mixin columnsView {
        flex-direction: column;
        height: auto;
        width: calc(50% - 10px);

        &:last-child {
            margin-bottom: 30px;
        }

        &__Title {
            margin-bottom: 10px;
        }

        &__Username {
            width: 100%;
            margin-left: 0;
            font-size: 10px;
            line-height: 1;
        }

        &__ImageContainer {
            width: 100%;
            height: auto;
        }
    }

    @media screen and ( min-width: 940px ) and ( max-width: 1200px ) {
        @include columnsView;
    }

    @media screen and ( max-width: 720px) {
        @include columnsView;
    }

    @media screen and ( max-width: 580px) {
        height: auto;
        width: 100%;
    }
}