@import '../../assets/styles/mixins.scss';

.Team {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    &__TeammateList {
        @mixin columnsView {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
     
        @media screen and ( min-width: 940px ) and ( max-width: 1200px ) {
            @include columnsView;
        }

        @media screen and ( min-width: 500px ) and ( max-width: 720px ) {
            @include columnsView;
        }
    }

    @media screen and ( max-width: 940px) {
        gap: 20px;
    }

    @media screen and ( max-width: 680px) {
        &__TeammateList {
            margin-bottom: -30px;
        }
    }

    @media screen and ( max-width: 500px) {
        gap: 15px;
        &__TeammateList {
            margin-bottom: 0;
        }
    }
}