@import '../../../assets/styles/mixins.scss';

.TextField {
    display: flex;
    flex-direction: column;
    position: relative;

    &__Arrow {
        position: absolute;
        top: 0;
        left: -17px;
        font-weight: 400;
        font-size: 16px;
        color: #ff522b;
    }

    &__InputDescription {
        font-family: var(--font-mono);
        font-weight: 700;
        font-size: 18px;
        color: #01296d;
    }

    &__InputDescriptionWrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__Optional {
        width: fit-content;
        font-family: var(--font-mono);
        font-weight: 700;
        font-size: 14px;
        color: #216206;
        padding: 4px 8px;
        background: #ecfacf;
    }

    > textarea {
        width: 100%;
        padding: 14px 0px;
        border-bottom: 1px solid #000;
        background: transparent;
        font-weight: 400;
        font-size: 18px;
        color: #000;
        font-family: var(--font-mono);
        resize: vertical;
        max-height: 300px;
        height: 50px;
        min-height: 50px;

        &::placeholder {
            opacity: 0.3;
        }
    }
}

.TextFieldError {
    border-bottom: 1px solid #ff522b;
}