$width-tablet: 940px;

@mixin listItem {
    display: flex;
    background: #1a212a;
    margin-bottom: 12px;
    position: relative;
    gap: 20px;
    min-height: 270px;
    transition: .5s box-shadow;
    box-shadow: none;
    padding: 20px;
    padding-top: 40px;

    &:hover {
        cursor: pointer;
        box-shadow: 10px 8px teal, 
                    20px 16px rebeccapurple;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__Domain {
        position: absolute;
        top: 22px;
        right: 22px;
        font-weight: 400;
        font-size: 10px;
        text-align: right;
        color: #62cff6;
    }

    &__PendingClaim {
        position: absolute;
        top: 2px;
        left: 2px;
        color: #fff7cd;
        letter-spacing: 0.06em;
        font-weight: 400;
        font-size: 8px;
        line-height: 200%;
        font-family: 'Press Start 2P';
        padding: 0px 4px;
        background: #ffbd07;
    }

    &__ImageContainer {
        width: 220px;
        height: 220px;
        background: rgba(109, 124, 255, 0.07);
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__Footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
        margin-top: 43px;
    }

    &__ContentWrapper {
        width: 100%;
    }

    &__ContentContainer {
        width: 100%;
        height: 100%;
        word-wrap: break-word;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    &__Dashmate {
        color: #62cff6;
        font-family: 'Press Start 2P';
        font-weight: 400;
        font-size: 10px;
        margin-bottom: 37px;
        text-transform: uppercase;
    }

    &__Title {
        font-family: 'Press Start 2P';
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        margin-bottom: 16px;
    }

    &__ButtonPendingClaims {
        background-color: #ffbd07 !important;
    }

    &__ButtonAddTask {
        background-color: #0275ff !important;
        margin-left: auto;
    }

    &__ButtonTasks {
        &.disabled {
            border: 1px solid #2e3845;
            color: #66727d !important;
            background-color: transparent !important;
            text-transform: capitalize !important;

            &::after {
                background: transparent !important;
                opacity: 1 !important;
            }
        }
    }

    &__WrapperButtons {
        display: flex;
        gap: 12px;
        align-self: center;
        margin-top: 26px;
        flex-wrap: wrap;
    }

    &__Description {
        color: #fff;
        font-family: var(--font-mono);
        font-size: 18px;
        max-width: 440px;
        font-style: normal;
        font-weight: 700;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: pre-wrap;
    }

    @media screen and ( max-width: 1500px) {
        &__ContentContainer {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        &__Description {
            font-size: 12px;
            line-height: 20px; 
        }

        &__ButtonAddTask {
            margin-left: 0;
        }
    }

    @media screen and ( max-width: 580px) {
        flex-direction: column;
        height: auto;
        width: 100%;

        &__ImageContainer {
            width: 100%;
            height: auto;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &__Description {
            -webkit-line-clamp: 8;
        }
    }

    @media screen and ( max-width: 420px) {
        &__Title {
            margin-bottom: 16px;
        }

        &__ContentContainer {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@mixin infoBlock {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .15s all;
    background: #131619;
    padding: 48px 40px;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    &__ContentContainer {
        padding: 44px;
    }

    &__ImageContainer {
        width: 200px;
        height: 200px;
        background: rgba(109, 124, 255, 0.07);
        flex-shrink: 0;
        margin-left: 44px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__Title {
        color: #FFF;
        font-family: 'Press Start 2P';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 22px;
    }

    &__Description {
        color: #A7A7A7;
        font-family: 'Press Start 2P';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    }

    &__CloseButton {
        width: 42px;
        font-size: 18px;
        line-height: 32px;
        padding: 2px 8px;
        position: relative;
        width: 100%;
        transition: .15s padding-left;
        text-align: right;
        margin-bottom: 4px;
        overflow: hidden;

        span {
            opacity: 1;
            transition: .3s;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 100%;
            transition: .5s;
            top: 0;
            right: 0;
            background: linear-gradient(to left, rgba(109, 124, 255, 0.07), transparent);
            opacity: 0;
        }

        &::after {
            content: '<-';
            letter-spacing: -5px;
            position: absolute;
            right: -42px;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: .65s;
            opacity: 0;
        }

        &:hover {
            cursor: pointer;
            padding-left: 42px;

            span {
                opacity: 0;
            }

            &::before {
                opacity: 1;
                width: 100%;
                background: linear-gradient(to left, rgba(109, 124, 255, 0.07), rgba(109, 124, 255, 0.07));
            }

            &::after {
                right: 50%;
                opacity: 1;
            }

        }
    }

    &__Link {
        @include contextLink;
        margin-right: 10px;
    }

    @media screen and ( max-width: $width-tablet) {
        position: relative;
        top: -30px;
        left: -30px;
        width: calc(100% + 60px);
        height: calc(100% + 60px);
        margin-bottom: -60px;
    }
}

@mixin contextLink {
    display: inline-block;
    margin-top: 10px;
    
    span {
        position: relative;
        display: inline-block;
        transition: .3s transform;

        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 0;
            transition: .3s;
            background: rgba(109, 124, 255, 0.2);
            z-index: -1;
        }
    }

    &:hover {
        span {
            transform: translateY(-2px);

            &:before {
                height: 10px;
            }
        }
    }
}