@import '../../../assets/styles/mixins.scss';

.WalletWindow {
    position: fixed;
    top: 0;
    right: 0;
    width: 800px;
    height: 100vh;
    background-color: #fff;
    z-index: 11;

    &__CloseButton {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-100%, 0%);
        cursor: pointer;
        height: 100%;
        width: 64px;
        background: rgba(45, 59, 75, 0.71);
        font-family: "Press Start 2P";
        display: flex;
        justify-content: center;
        padding-top: 24px;

        &__Icon {
            width: 16px;
            height: 16px;
        }

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 0;
            top: 0;
            left: 0;
            background: rgba(0, 117, 255, 0.10);
            transition: .5s;
        }

        &:hover {
            &:before {
                animation-duration: .5s;
                animation-name: slidein;
            }
        }
    }
}