.RegistrationWindow {
    position: fixed;
    bottom: 25px;
    left: 25px;
    width: 618px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background: #131619;
    z-index: 3;

    &__Title {
        font-weight: 400;
        font-size: 16px;
        color: #fff;
    }

    &__Buttons {
        display: flex;
        gap: 12px;
        align-items: center;
    }
}
